

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    text-decoration: none;
    
}

body {
    font-family: 'Poppins';
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root {
    --white: #FFF;
    --gray: #F3F3F3;
    --gray-mid: #9D9D9D;
    --gray-dark: #3e3e3e;
    --gray-hover: #F7F7F7;
}

.container {
	height: 22.5rem;
	width: 42.5rem;
	padding: 1.25rem;
	margin: 0.675rem;
	border-radius: 1rem;
    background-color: var(--white);
	box-shadow: 
        rgba(100, 100, 111, 0.2)
        0px 7px 29px 0px;	
}

header{
    border-bottom: 1px solid #f8daff  ;
}

header {
    position: relative;
}

.content{
    background-color: #f9f7fad2 ;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 89%;
    border-bottom-left-radius:12px ;
    border-bottom-right-radius:12px ;
}

tbody{
    width: 100%;
    display: flex;
    flex-direction: column;
}

tr{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.content_1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.a_content{
    color: #3e3e3e;
    width: 85%;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.a_content:hover{
    border-left:  1.5px solid #ead3f0;
    border-right: 1.5px solid #ead3f0;
}
a:hover{
    color: #3e3e3e !important;
}


/*   ------------ NAV ------------------ */

.tabs {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    border-bottom: 1px solid #F0F0F0;
    justify-content: space-around;
}

.tabs > a {
    position: relative;
    display: flex;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--gray-mid);
    text-align: left;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.tabs > a img {
    height: 1.25rem;
    width: 1.25rem;
}
/*   ------------ NAV ------------------ */
